body {
	color:red;
	background-color: blue;
	font-family: "Tiems New Roman";
}

p{
	color: blue;
	backround-color: black;
	font: 80%;
}

header{
	color:yellow;
	backround-color: fuchsia;
	font-family: "Arial";

}

